body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(78, 148, 79);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    color: #fff;
    padding: 30px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
}

.paper {
    background-color: #66c0f4;
}

.plastic {
    background-color: #6fd94d;
}

.metal {
    background-color: #f4c542;
}

.hazardous {
    background-color: #e74c3c;
}

#chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    background-color: white;
}

#chart {
    width: 80%; /* Make the chart container 100% width */
}